:root {
    --secondary-color: #474d53;
    --light-bg: #f4f4f9;
    --dark-text: #7e7c7c;
  }
  
  body {
    background-color: var(--light-bg);
  }
  
  header h1 {
    margin-bottom: 0;
  }
  
  #backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .card{
    transition:  transform 0.3s ease;
  }
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-text {
    color: var(--dark-text);
  }
a{
    text-decoration: none;

}  

a:hover{
    text-decoration: underline;

}
.list-unstyled li{
    margin-top: 15px;
}
.card:hover{
    transform: translateY(-4px);
}